
{% extends 'base.html' %}

{% block content %}

<div class="col-md-8 offset-md-2 mt-4">
    <div class="card border-warning">
        <div class="card-header text-center bg-secondary text-warning">
            <h4>User Registration</h4>
        </div>
        <div class="card-body">
            <form action='' method="POST" novalidate>
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.username.label }} <br>
                    {{ form.username(size=32) }}
                    {% for error in form.username.errors %}<br>
                        <span class='text-danger'>[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.email.label }} <br>
                    {{ form.email(size=45) }}
                    {% for error in form.email.errors %}<br>
                        <span class='text-danger'>[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.password.label }} <br>
                    {{ form.password(size=32) }}
                    {% for error in form.password.errors %}<br>
                        <span class='text-danger'>[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.confirm.label }} <br>
                    {{ form.confirm(size=32) }}
                    {% for error in form.confirm.errors %}<br>
                        <span class='text-danger'>[{{ error }}]</span>
                    {% endfor %}
                </div>

                <br>
                {{ form.submit() }}
                <br>
            </form>
        </div>
    </div>
</div>

{% endblock content %}